<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Customer Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Update Customer</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form class="form-horizontal" th:object="${customer}" method="post" th:action="@{/customer/save}">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{firstName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{lastName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{email}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phone Number:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{phoneNumber}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address Line 1:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{address1}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address Line 2:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{address2}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">City:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{city}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">State:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{state}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Zip Code:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{zipCode}"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-default">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>