<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Customer Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Show Customer</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Customer Id:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.id}">Customer ID</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">First Name:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.firstName}">First Name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.lastName}">Last Name</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.email}">Email</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phone Number:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.phoneNumber}">Phone Number</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address Line 1:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.address1}">Address Line 1</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Address Line 2:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.address2}">Address Line 2</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">City:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.city}">City</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">State:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.state}">State</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Zip Code:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${customer.zipCode}">Zip Code</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>