<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Customers List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">
        <div th:if="${not #lists.isEmpty(customers)}">
            <h2>Customer List</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address Line 1</th>
                    <th>Address Line 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="customer: ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phoneNumber}"></td>
                    <td th:text="${customer.address1}"></td>
                    <td th:text="${customer.address2}"></td>
                    <td th:text="${customer.city}"></td>
                    <td th:text="${customer.state}"></td>
                    <td th:text="${customer.zipCode}"></td>
                    <td><a th:href="@{/customer/view/{customerID}(customerID=${customer.id})}">View</a></td>
                    <td><a th:href="@{/customer/edit/{customerID}(customerID=${customer.id})}">Edit</a></td>
                    <td><a th:href="@{/customer/delete/{customerID}(customerID=${customer.id})}">Delete</a></td>
                </tr>
            </table>
            <a th:href="@{/customer/new}">Create New Customer</a>
        </div>
    </div>
</body>
</html>