<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Product Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Show Product</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product Id:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.id}">Product ID</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.description}">Description</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.price}">Price</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Image URL:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.image}">Image URL</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>