<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Products List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">
        <div th:if="${not #lists.isEmpty(products)}">
            <h2>Product List</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image URL</th>
                    <th>List</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.image}"></td>
                    <td><a th:href="@{/product/view/{productId}(productId=${product.id})}">View</a></td>
                    <td><a th:href="@{/product/edit/{productId}(productId=${product.id})}">Edit</a></td>
                    <td><a th:href="@{/product/delete/{productId}(productId=${product.id})}">Delete</a></td>
                </tr>
            </table>
        </div>
        <a th:href="@{/product/new}">Create new product</a>
    </div>
</body>
</html>