<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - Product Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Update Product</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form class="form-horizontal" th:object="${product}" th:action="@{/product/save}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{description}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{price}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Image URL:</label>
                        <div class="col-sm-10">
                            <input class="form-control" th:field="*{image}"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-default">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>