<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring Core Online Tutorial</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <title>Spring Core Online Tutorial</title>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link th:href="@{/css/spring-core.css}" rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">
        <h1>Hello World</h1>
        <h2 style="color:limegreen">This is my Thymeleaf index page.</h2>
        <ul>
            <li><a th:href="@{/product/list}">Product List</a></li>
            <li><a th:href="@{/customer/list}">Customer List</a></li>
        </ul>
    </div>
</body>
</html>